<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>

        {% for day in schedule %}
            <h2>{{day}}</h2>
            <ul>
            {% for time in schedule[day]['times'] %}
                <li>{{ time }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </p>
    
</body>
</html>